/* IMGS ARE NOT MINE */

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden hidden;
}

.video-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -99;
}

.slide-active {
  opacity: 1;
  -webkit-transition: all 4s ease-in-out;
  -moz-transition: all 4s ease-in-out;
  -ms-transition: all 4s ease-in-out;
  -o-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.rgb {
  position: fixed;
  font-size: 22px;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 20000px;
  margin-left: 100%;
  animation-name: rgb;
  background-color: red;
  animation-name: example;
  animation-duration: 20s;
  animation-iteration-count: 20;
}


@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }

  5% {
    background-color: rgb(255, 60, 0);
    left: 0px;
    top: 0px;
  }

  10% {
    background-color: rgb(255, 145, 0);
    left: 0px;
    top: 0px;
  }

  15% {
    background-color: rgb(255, 196, 0);
    left: 0px;
    top: 0px;
  }

  20% {
    background-color: rgb(179, 255, 0);
    left: 0px;
    top: 0px;
  }

  25% {
    background-color: rgb(115, 255, 0);
    left: 0px;
    top: 0px;
  }

  30% {
    background-color: rgb(0, 255, 13);
    left: 0px;
    top: 0px;
  }

  35% {
    background-color: rgb(0, 255, 136);
    left: 0px;
    top: 0px;
  }

  40% {
    background-color: rgb(0, 255, 242);
    left: 0px;
    top: 0px;
  }

  45% {
    background-color: rgb(0, 195, 255);
    left: 0px;
    top: 0px;
  }

  50% {
    background-color: rgb(0, 132, 255);
    left: 0px;
    top: 0px;
  }

  55% {
    background-color: rgb(0, 89, 255);
    left: 0px;
    top: 0px;
  }

  60% {
    background-color: rgb(17, 0, 255);
    left: 0px;
    top: 0px;
  }

  65% {
    background-color: rgb(153, 0, 255);
    left: 0px;
    top: 0px;
  }

  70% {
    background-color: rgb(204, 0, 255);
    left: 0px;
    top: 0px;
  }

  75% {
    background-color: rgb(255, 0, 255);
    left: 0px;
    top: 0px;
  }

  80% {
    background-color: rgb(255, 0, 157);
    left: 0px;
    top: 0px;
  }

  85% {
    background-color: rgb(255, 0, 76);
    left: 0px;
    top: 0px;
  }

  100% {
    background-color: rgb(255, 0, 0);
    left: 0px;
    top: 0px;
  }
}



.box-gauche {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  width: 15%;
  height: 100%;
  background-color: rgb(27, 27, 27);
  padding: 1rem 5rem;
}

.box-gauche-rgb {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  top: 0%;
  right: 0%;
  transform: translate(0%, 0%);
  width: 10px;
  height: 100%;
}

.box-gauche-infos {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Muli', sans-serif;
  color: white;
  font-size: 22px;
  width: 100%;
}

.img-header {
  border-radius: 10px;
  margin-bottom: 2rem;
}

.name {
  display: flex;
  margin-top: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.color-name {
  color: rgb(255, 0, 123);
  word-wrap: break-word;
}

.separator1 {
  display: flex;
  margin-top: 10px;
  border: 1px solid rgb(255, 255, 255);
  width: 100%;
  background-color: white;
}

.content-wrapper {
  width: 100%;
}